h2,
p {
  color: #000;
}

a{
    text-decoration: none;
}

h2 {
    margin-top: 30px;
}

.filters {
    margin-bottom: 15px;
}

.issues-tray {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.issue-col {
    background-color: #f5f5f5;
    min-height: calc(100vh - 187px);
}

.issue-col > p {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.todo {
    /* border-color: green; */
}

.in-progress{
    /* border-color: red; */
}

.qa-review{
    /* border-color: gray; */
}

.done{
    /* border-color: blue; */
}
