/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {    
    line-height: 1.6;    
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}
h2 {
    font-weight: 200;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    background: #205081;
    color: #fff;
    min-height: 100vh;
}
.wrapper {
    padding: 15px;
    width: 90%;
    margin: 0 auto;
    background: #fff;
}
#login form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    color: #000;
}
#login .form-group > div {
    position: relative;
}
#login .form-group > div:before {
    font-family: FontAwesome;
    content: "\f007";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 6px;
    height: 25px;
}
/* #login .form-group.pass > div a {
    position: relative;    
} */
#login .form-group.pass > div a {
    content: '\f06e';
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 25px; 
    margin-right: 6px;
    padding: 4.5px 0;
}
#login .form-group.pass > div a i {
    cursor: pointer;
}
 #login .form-group.pass > div:before {
    content: '\f084';
}
#login label {
    display: none;
}
#login input {
    display: block;
    padding: 0.6em;
    width: 100%;
    padding-left: 25px;
}
#login form .remember-me {
    display: none;
}
#login form button {
    padding: 0.6em;
    background: #205081;
    color: #fff;
    border: none;
}
#login form button:hover,
#login form button:focus {
    outline: 0;
}
#login #password {
    padding-right: 24px;
}
