<h1>All Projects</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Project</th>
      <th>Key</th>
      <th>Project Lead</th>
      <th>Url</th>
    </tr>
    <tr *ngFor="let p of projects">
      <td>
        <a href="#" (click)="getProject(p.id)">{{p.projectName}}</a>
      </td>
      <td>{{p.projectKey}}</td>
      <td>
        <a href="#">{{p.projectLead.username}}</a>
      </td>
      <td>
        <a href="{{p.url}}" target="_blank">{{p.url}}</a>
      </td>
    </tr>
  </tbody>
</table>