<header>
    <div id="header-mobile">
        <h2><span>Jira</span> Mobile</h2>
    </div>
    <div id="header-desktop">
        <div class="branding">
            <img src="../assets/jira-logo.png" alt="Jira Logo">
            <p-dropdown [style]="{'width':'120px', 'height':'28px'}" [options]="boards" [(ngModel)]="selectedBoard" placeholder="Dashboards" optionLabel="name"></p-dropdown>
        </div>
        <div class="links"></div>
    </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer>Bug tracking and project trackin for software development powered by Ksoft (v1.0)</footer>